# A name for this Docker Compose application, it can be whatever you like
COMPOSE_PROJECT_NAME=

# The server where this JupyterHub server is hosted
HOST=

# List of administrators (space separated list)
ADMIN_USERS=